#my-picture {
  width: 300px;
  border-radius: 60%;
}

body {

  background-image: url("images/freebg4.jpg");
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 2px 16px;
  border-radius: 5px;
  border 10px solid red;
  opacity: 1
}

.header{
  font-size: 50px;
  color: red;
  position: relative;
}

h1 {
  color: black;
  font-style: italic;

}

h3 {
  font-family: courier, monospace;
}

.card {
  font: 15px arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  color: black;
  padding: 100px ;
  margin: 10px;
  border-top: 1px;
  border-radius: 5px;
  border: 20px solid black ;
}

.bio h2 {
  color: black;
  padding: 10px;
  font-style: 30px;
}

h2 {
  font-style: oblique;
  color: green;
}

a {
  color: black;
  font-size: 25px;
}
